<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <h1>Angular Bootstrap</h1>
        </a>
        <div class="navbar-collapse collapse justify-content-between">
            
            <form class="d-flex">
                <input autocomplete="off" class="form-control me-2" id="query" #query type="search" (change)="clearSearch(query)"  placeholder="Search" aria-label="Search">
                <button #buttonSearch class="btn btn-outline-success" type="button" (click)="searchProductsByQuery(query)"><fa-icon [icon]="faSearch"></fa-icon></button>
            </form>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">{{cartItems.length}}<fa-icon [icon]="faShoppingCart"></fa-icon></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div *ngIf="categories.length > 0" class="categories-list-nav-bar">
    
    <div class="list-categories">
        <div *ngFor="let category of categories; let i = index"  [ngClass]="{'active': i+1 === categoryId}" class="category-name " (click)="searchByCategory(category.name)">
            <div>{{category.name}}</div>
        </div>
    </div>
</div>